# Redirect all requests to the GitHub repository as the source
RewriteEngine On

# Redirect everything to the GitHub repository main page
RewriteRule ^(.*)$ https://github.com/baha-aktas/psmp-ontology [L,R=301]
